<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homestyles.css">
    <title>Gamerz</title>
</head>

<body class="homepage">
    <header>
        <nav>
            <a>
                <img src="/images/icons/settingIcon.svg" alt="Hamberger menu">
            </a>
        </nav>
        <a href="/settingsPref">
            <img src="/images/icons/menuIcon.svg" alt="Hamberger menu">
        </a>
    </header>
    <article class="card">
        <div>
            <div>
                <img src="<%= data[0].gamerPhoto %>" alt="profile pic gamer">
                <div>
                    <h3>
                        <%= data[0].gamerTag %>
                    </h3>
                    <p>5 minuten geleden actief</p>
                </div>
            </div>
            <img src='<%= data[0].console %>'>
        </div>
        <div>
            <ul>
                <li><%= data[0].gamerQualityOne %></li>
                <li><%= data[0].gamerQualityTwo %></li>
            </ul>
        </div>
        <article>
            <h2>
                Total hours played:
            </h2>
            <p>
                25 days and 8 hours
            </p>
        </article>
        <ul>
            <li>Goals<p> <%= data[0].gameStats[0] %></p>
            </li>
            <li>Assists<p> <%= data[0].gameStats[1] %></p>
            </li>
            <li>Saves<p> <%= data[0].gameStats[2] %></p>
            </li>
        </ul>
        <article>
            <h2>
                About me
            </h2>
            <p>
                <%= data[0].gamerBio %>
            </p>
        </article>
        <section>
            <h2>
                My ranks
            </h2>
            <div>
                <article>
                    <article>
                        <img src="<%= data[0].standardStats[0] %>">
                        <p>
                            <%= data[0].standardStats[1] %>
                        </p>
                        <p>
                            <%= data[0].standardStats[2] %>
                        </p>
                    </article>
                    <div>
                        <h4>standard</h4>
                        <h5>3v3</h5>
                    </div>
                </article>
                <article>
                    <article>
                        <img src="<%= data[0].doublesStats[0] %>">
                        <p>
                            <%= data[0].doublesStats[1] %>
                        </p>
                        <p><%= data[0].doublesStats[2] %></p>
                    </article>
                    <div>
                        <h4>doubles</h4>
                        <h5>2v2</h5>
                    </div>
                </article>
                <article>
                    <article>
                        <img src="<%= data[0].duelStats[0] %>">
                        <p>
                            <%= data[0].duelStats[1] %>
                        </p>
                        <p><%= data[0].duelStats[2] %></p>
                    </article>
                    <div>
                        <h4>duel</h4>
                        <h5>1v1</h5>
                    </div>
                </article>
            </div>
        </section>
    </article>
    <section>
        <button>
            <img src="/images/icons/cancel.svg" alt="no match">
        </button>
        <button class="swiperight">
            <img src="/images/icons/Correct.svg" alt="match">
        </button>
    </section>
    <script src="/js/index.js"></script>
</body>

</html>