<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/homestyles.css">
  <title>Gamerz</title>
</head>

<body class="settings">
  <header>
    <nav>
      <a>
        <img src="/images/icons/menuIcon.svg" alt="Hamberger menu">
      </a>
    </nav>
    <img src="/images/icons/settingIcon.svg" alt="Hamberger menu">
  </header>
  <div>
    <h1>Instellingen</h1>
    <h4>my rocket profile</h4>
  </div>
  <article>
    <div>
      <div>
        <img src="/images/gebouwen.jpg" alt="profile pic gamer">
        <div>
          <h3>
            <%= data[0].gamerTag %>
          </h3>
          <p>5 minuten geleden actief</p>
        </div>
      </div>
      <img src="/images/icons/playstationIcon.svg">
    </div>
    <div>
      <ul>
        <li><%= data[0].gamerQualityOne %></li>
        <li><%= data[0].gamerQualityTwo %></li>
      </ul>
    </div>
    <article>
      <h2>
        Total hours played:
      </h2>
      <p>
        25 days and 8 hours
      </p>
    </article>
    <ul>
      <li>Goals<p>5151</p>
      </li>
      <li>Assists<p>4845</p>
      </li>
      <li>Saves<p>4584</p>
      </li>
    </ul>
    <section>
      <div>
        <article>
          <article>
            <img src="/images/icons/champ.png">
            <p>
              CHAMP 2 <br>
              DIV 1
            </p>
            <p>1320 MMR</p>
          </article>
          <div>
            <h4>standard</h4>
            <h5>3v3</h5>
          </div>
        </article>
        <article>
          <article>
            <img src="/images/icons/champ.png">
            <p>
              CHAMP 2 <br>
              DIV 1
            </p>
            <p>1320 MMR</p>
          </article>
          <div>
            <h4>doubles</h4>
            <h5>2v2</h5>
          </div>
        </article>
        <article>
          <article>
            <img src="/images/icons/champ.png">
            <p>
              CHAMP 2 <br>
              DIV 1
            </p>
            <p>1320 MMR</p>
          </article>
          <div>
            <h4>duel</h4>
            <h5>1v1</h5>
          </div>
        </article>
      </div>
    </section>
  </article>
  <section>
    <div>
      <form id="form_text" action="/profilePref.ejs" method="post">
        <div>
          <label for="id">Gamertag</label><br>
          <input type="text" id="id" name="" value="<%= data[0].gamerTag %>"><br>
        </div>
        <div>
          <label for="id">About me</label><br>
          <textarea id="id" name="user_gamerbio" rows="5" cols="50" value="gamerBio" > <%= data[0].gamerBio %>
        </textarea>
        </div>
        <div>
          <label for="id">Crossplay</label><br>
          <input type="radio" id="id" name="fav_language" value="crossplayOn">
          <label for="id">PLAY WITH OTHER PLATFORMS</label><br>
          <input type="radio" id="id" name="fav_language" value="crossplayOff">
          <label for="id">PLAY WITH SAME PLATFORM</label><br>
        </div>
      </form>
    </div>
  </section>
  <section>
    <h2>IM looking for</h2>
    <h4>PREFERABLE RANK</h4>
    <div>
      <article>
        <div>
          <a class="editStandard"><img src="/images/icons/change.png"></a>
          <img class='currentImgStandard' src="/images/icons/champ2.png">
          <div class="sliderStandard">
            <div class="slideStandard" id="slideStandard-1"> <a>
                <img src="/images/icons/champ.png">
              </a></div>
            <div class="slideStandard" id="slideStandard-2">
              <a>
                <img src="/images/icons/champ2.png">
              </a>
            </div>
            <div class="slideStandard" id="slideStandard-3">
              <a>
                <img src="/images/icons/champ3.png">
              </a>
            </div>
          </div>
        </div>
        <div>
          <h4>standard</h4>
          <h5>3v3</h5>
        </div>
      </article>
      <article>
        <div>
          <a class="editDoubles"><img src="/images/icons/change.png"></a>
          <img class='currentImgDoubles' src="/images/icons/champ2.png">
          <div class="sliderDoubles">
            <div class="slideDoubles" id="slideDoubles-1"> <a>
                <img src="/images/icons/champ.png">
              </a></div>
            <div class="slideDoubles" id="slideDoubles-2">
              <a>
                <img src="/images/icons/champ2.png">
              </a>
            </div>
            <div class="slideDoubles" id="slideDoubles-3">
              <a>
                <img src="/images/icons/champ3.png">
              </a>
            </div>
          </div>
        </div>
        <div>
          <h4>doubles</h4>
          <h5>2v2</h5>
        </div>
      </article>
    </div>
  </section>
  <section>
    <h4>PREFERABLE QUALITIES</h4>
    <p>U can pick two</p>
    <form method="post" name="form_name" id="form_check">
      <label>
        <input type="checkbox" name="check" value="ROTATIONQUEEN"> Rotation queen
      </label>
      <label>
        <input type="checkbox" name="check" value="SUPERSAVER" > SUPER SAVER
      </label>
      <label>
        <input type="checkbox" name="check" value="ASSISTANT"> ASSISTANT
      </label>
      <label>
        <input type="checkbox" name="check" value="MECHANICALGOD"> MECHANICAL GOD
      </label>
      <label>
        <input type="checkbox" name="check" value="OFFENSEPRO"> OFFENSE PRO
      </label>
      <label>
        <input type="checkbox" name="check" value="DEFENSEPRO"> DEFENSE PRO
      </label>
      <label>
        <input type="checkbox" name="check" value="DOESNTMATTER"> DOESNT MATTER
      </label>
    </form>
    <input class="btnOpslaan" type="submit" value="VOORKEUREN OPSLAAN">
  </section>
  <script src="/js/test.js"></script>
</body>

</html>