<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/homestyles.css">
  <title>Gamerz</title>
</head>

<body class="settings">
  <header>
    <nav>
      <a>
        <img src="/images/icons/menuIcon.svg" alt="Hamberger menu">
      </a>
    </nav>
    <a href="/">
      <img src="/images/icons/settingIcon.svg" alt="Hamberger menu">
    </a>
  </header>
  <div id="loading-screen">
    <h2>saving...</h2>
    <p class="factholder">a random fact</p>
  </div>
  <div id="content-screen">
    <main>
      <div>
        <h1>Instellingen</h1>
        <h4>my rocket profile</h4>
      </div>
      <article>
        <div>
          <div>
            <img src="/images/gebouwen.jpg" alt="profile pic gamer">
            <div>
              <h3>
                <%= data[0].gamerTag %>
              </h3>
              <p>5 minuten geleden actief</p>
            </div>
          </div>
          <img src="/images/icons/playstationIcon.svg">
        </div>
        <div>
          <ul>
            <li><%= data[0].gamerQualityOne %></li>
            <li><%= data[0].gamerQualityTwo %></li>
          </ul>
        </div>
        <article>
          <h2>
            Total hours played:
          </h2>
          <p>
            25 days and 8 hours
          </p>
        </article>
        <ul>
          <li>Goals<p>5151</p>
          </li>
          <li>Assists<p>4845</p>
          </li>
          <li>Saves<p>4584</p>
          </li>
        </ul>
        <section>
          <div>
            <article>
              <article>
                <img src="/images/icons/champ.png">
                <p>
                  CHAMP 2 <br>
                  DIV 1
                </p>
                <p>1320 MMR</p>
              </article>
              <div>
                <h4>standard</h4>
                <h5>3v3</h5>
              </div>
            </article>
            <article>
              <article>
                <img src="/images/icons/champ.png">
                <p>
                  CHAMP 2 <br>
                  DIV 1
                </p>
                <p>1320 MMR</p>
              </article>
              <div>
                <h4>doubles</h4>
                <h5>2v2</h5>
              </div>
            </article>
            <article>
              <article>
                <img src="/images/icons/champ.png">
                <p>
                  CHAMP 2 <br>
                  DIV 1
                </p>
                <p>1320 MMR</p>
              </article>
              <div>
                <h4>duel</h4>
                <h5>1v1</h5>
              </div>
            </article>
          </div>
        </section>
      </article>
      <section>
        <div>
          <form action="/userSettings" method="post">
            <div>
              <label for="gamerTag">Gamertag</label><br>
              <input required type="text" name="gamerTag" value="<%= data[0].gamerTag %>"><br>
            </div>
            <div>
              <label for="gamerBio">About me</label><br>
              <textarea required name="gamerBio" rows="5" cols="50"><%= data[0].gamerBio %>
            </textarea>
            </div>
            <input type="submit" value="PROFIEL OPSLAAN">
          </form>
        </div>
      </section>
      <section>
        <h2>IM looking for</h2>
        <h4>PREFERABLE RANK</h4>
        <form action="/teammateSettings" name="teammateSettings" method="post">
          <article>
            <img class="editStandard" src="/images/icons/change.png">
            <fieldset class="sliderStandard">
              <label for="rankStandard" class="slideStandard" id="slideStandard-1">
                <p>champ</p>
                <input required type="radio" id="optie-1" name="rank" value="champ">
                <div id="img-optie-1"></div>
              </label>
              <label class="slideStandard" id="slideStandard-2">
                <p>champ 2</p>
                <input required type="radio" id="optie-2" name="rank" value="champ2">
                <div id="img-optie-2"></div>
              </label>
              <label class="slideStandard" id="slideStandard-3">
                <p>champ 3</p>
                <input required type="radio" id="optie-3" name="rank" value="champ3">
                <div id="img-optie-3"></div>
              </label>
            </fieldset>
            <div class="gamemodeStandardText">
              <h4>standard</h4>
              <h5>3v3</h5>
            </div>
          </article>
          <article>
            <img class="editDoubles" src="/images/icons/change.png">
            <fieldset class="sliderDoubles">
              <label for="rankDoubles" class="slideDoubles" id="slideDoubles-1">
                <p>champ</p>
                <input type="radio" id="optie-1" name="rank" value="champ">
                <div id="img-optie-1"></div>
              </label>
              <label class="slideDoubles" id="slideDoubles-2">
                <p>champ 2</p>
                <input type="radio" id="optie-2" name="rank" value="champ2">
                <div id="img-optie-2"></div>
              </label>
              <label class="slideDoubles" id="slideDoubles-3">
                <p>champ 3</p>
                <input type="radio" id="optie-3" name="rank" value="champ3">
                <div id="img-optie-3"></div>
              </label>
            </fieldset>
            <div class="gamemodeDoublesText">
              <h4>standard</h4>
              <h5>3v3</h5>
            </div>
          </article>
          <div>
            <img class='currentImgStandard' src="<%= data[0].rankStandard %>">
          </div>
          <div>
            <img class='currentImgDoubles' src="<%= data[0].rankDoubles %>">
          </div>
          <section id="checkboxgroup">
            <h4>PREFERABLE QUALITIES</h4>
            <p>U can pick two</p>
            <label>
              <input type="checkbox" value="ROTATIONQUEEN" name="check" class="checkbox">ROTATION QUEEN
            </label>
            <label>
              <input type="checkbox" value="SUPERSAVER" name="check" class="checkbox">SUPER SAVER
            </label>
            <label>
              <input type="checkbox" value="ASSISTANT" name="check" class="checkbox">ASSISTANT
            </label>
            <label>
              <input type="checkbox" value="MECHANICALGOD" name="check" class="checkbox">MECHANICAL GOD
            </label>
            <label>
              <input type="checkbox" value="OFFENSEPRO" name="check" class="checkbox">OFFENSE PRO
            </label>
            <label>
              <input type="checkbox" value="DEFENSEPRO" name="check" class="checkbox">DEFENSE PRO
            </label>
            <label>
              <input type="checkbox" value="DOESNTMATTER" name="check" class="checkbox">DOESNT MATTER
            </label>
          </section>
          <section>
            <h4>Crossplay</h4>
            <div>
              <div>
                <input type="radio" name="crossplay" value="true">
                <label for="crossplay">PLAY WITH OTHER PLATFORMS</label><br>
                <input type="radio" name="crossplay" value="false">
                <label for="crossplay">PLAY WITH SAME PLATFORM</label>
              </div>
            </div>
          </section>
          <input type="submit" value="VOORKEUREN OPSLAAN" class="saveButton">
        </form>
    </main>
  </div>
  <script src="/js/test.js"></script>
</body>

</html>